{% extends 'mnemosyne/base.html' %}

{% block content %}

<p>Topic: {{ topic.text }}</p>
<p>Entries</p>
<p>
    <a href="{% url 'mnemosyne:new_entry' topic.id %}"> Add new entry</a>
</p>
<ul>
    {% for entry in entries %}
    <li>
        <P>{{ entry.date_added|date:'M d, Y H:i' }}</P>
        <p>{{ entry.text|linebreaks }}</p>
        <p>
            <a href="{% url 'mnemosyne:edit_entry' entry.id %}">
                Edit entry</a>
        </p>
    </li>
    {% empty %}
    <li>There are no entries for this topic yet</li>
    {% endfor %}
</ul>

{% endblock content %}
